@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    height: 384px;
    width: 368px;
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
    box-shadow: 6px 6px 6px 6px rgba(17, 23, 41, 0.05);
    border-radius: 8px;
}

.image{
    height: 152px;
    width: 336px;
    overflow: hidden;
    border-radius: 8px;
}
.image img{
    max-width: 100%;
    height: auto;
}

.text{
    height: 152px;
    width: 336px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text__design{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: start;
    margin-top: 16px;
    margin-bottom: 16px;
}

.text__design p{
    width: 65px;
    background-color: #e6d6fc;
    color: #883AE1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.text__description h3{
    font-size: 18px;
    margin-bottom: 6px;
}

.text__description p{
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 20px;
}

.name{
    width: 368px;
    height: 35px;
    margin-left: -16px;
    border-top: 1px solid black;
}
.name__p{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 35px;
    margin-left: 16px;
    padding: 0;
    font-size: 12px;
}